In [ ]:
import re
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

In [ ]:
!gdown --id 11jHTacIQ2e3ndLseet-YQp3clAGWTpCu #ratings.csv
!gdown --id 1D1cO0G4WEUa6AAOrEHBgExjPZ5DSNn1a #credits.csv
!gdown --id 1FYYQsZYalPT3KItdbj4A29jj3setD-G9 #keywords.csv
!gdown --id 1Y7mZX40bA3dGLCsUem9Ayeooyx9TnFUp #movies-metadata.csv
!gdown --id 1mwNCe4qZoPvE_ktbHrvMNQ4hFovDsL3w #ratings_small.csv

Downloading...
From: https://drive.google.com/uc?id=11jHTacIQ2e3ndLseet-YQp3clAGWTpCu
To: /content/ratings.csv
710MB [00:04, 173MB/s]
Downloading...
From: https://drive.google.com/uc?id=1D1cO0G4WEUa6AAOrEHBgExjPZ5DSNn1a
To: /content/credits.csv
190MB [00:00, 199MB/s]
Downloading...
From: https://drive.google.com/uc?id=1FYYQsZYalPT3KItdbj4A29jj3setD-G9
To: /content/keywords.csv
6.23MB [00:00, 54.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Y7mZX40bA3dGLCsUem9Ayeooyx9TnFUp
To: /content/movies_metadata.csv
34.4MB [00:00, 94.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1mwNCe4qZoPvE_ktbHrvMNQ4hFovDsL3w
To: /content/ratings_small.csv
2.44MB [00:00, 78.1MB/s]

In [ ]:
df_credits = pd.read_csv("/content/credits.csv")
df_keywords = pd.read_csv("/content/keywords.csv")
df_movies = pd.read_csv("/content/movies_metadata.csv")
df_ratings = pd.concat([pd.read_csv("/content/ratings.csv"), pd.read_csv("/content/ratings_small.csv")])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Seth - Dataframe Merge (Without Ratings Merged)

#### Removing datetime values from movie id column in df_movies

In [ ]:
index = []

for i in range(0, len(df_movies['id'])):
  data = df_movies['id'].values[i]
  if (data.find('-') != -1):
    index.append(i)

In [ ]:
print(df_movies['id'][19730])
print(df_movies['id'][29503])
print(df_movies['id'][35587])

1997-08-20
2012-09-29
2014-01-01

In [ ]:
df_movies = df_movies.drop([19730, 29503, 35587])

In [ ]:
df_movies['id'] = pd.to_numeric(df_movies['id'])

#### Joining Credits and Keywords into df1

In [ ]:
df1 = df_credits.join(df_keywords.set_index('id'), on = 'id')

#### Joining Movies into df1

In [ ]:
df1 = df1.join(df_movies.set_index('id'), on = 'id')

# Merged DataFrame #1

In [ ]:
df1.head()

                                                cast  ... vote_count
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     5415.0
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...     2413.0
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...       92.0
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...       34.0
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...      173.0

[5 rows x 27 columns]

In [ ]:
df1.shape

(46628, 27)

# Cleaning DF1

In [ ]:
del df1['crew']
del df1['homepage']
del df1['poster_path']
del df1['imdb_id']
del df1['overview']
del df1['tagline']
del df1['budget']
del df1['status']
del df1['video']
del df1['spoken_languages']
del df1['production_countries']
del df1['runtime']
del df1['original_title']
del df1['belongs_to_collection']
del df1['production_companies']

In [ ]:
df1.head()

                                                cast  ...  vote_count
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...      5415.0
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...      2413.0
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...        92.0
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...        34.0
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...       173.0

[5 rows x 12 columns]

In [ ]:
df1.dtypes

cast                  object
id                     int64
keywords              object
adult                 object
genres                object
original_language     object
popularity            object
release_date          object
revenue              float64
title                 object
vote_average         float64
vote_count           float64
dtype: object

In [ ]:
# function to clean columns
# cast
def clean_cast(row):
  cast = []
  cast_dict = eval(row)
  for i in range(len(cast_dict)):
    cast.append(cast_dict[i]['name'])

  return cast

# keywords
def clean_keywords(row):
  keywords = []
  keyword_dict = eval(row)
  for i in range(len(keyword_dict)):
    keywords.append(keyword_dict[i]['name'])

  return keywords

# genres
def clean_genre(row):
  genres = []
  gen_dict = eval(row)
  for i in range(len(gen_dict)):
    genres.append(gen_dict[i]['name'])

  return genres

In [ ]:
df1['genres'] = df1['genres'].apply(lambda x: clean_genre(x))
df1['cast'] = df1['cast'].apply(lambda x: clean_cast(x))
df1['keywords'] = df1['keywords'].apply(lambda x: clean_keywords(x))

In [ ]:
df1.head()

                                                cast  ...  vote_count
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...  ...      5415.0
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...  ...      2413.0
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  ...        92.0
3  [Whitney Houston, Angela Bassett, Loretta Devi...  ...        34.0
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  ...       173.0

[5 rows x 12 columns]

### Creating a Cast DF

In [ ]:
cast = eval (df_credits['cast'].values[0])

In [ ]:
cast[0]['id']

31

In [ ]:
ids = []
actors = []

for i in range(0, len(df_credits['cast'])):
  castData = eval(df_credits['cast'].values[i])
  for j in range(len(castData)):
    ids.append(castData[j]['id'])
    actors.append(castData[j]['name'])

In [ ]:
castDF = pd.DataFrame({'id': ids, 'name': actors})

In [ ]:
castDF.head()

      id           name
0     31      Tom Hanks
1  12898      Tim Allen
2   7167    Don Rickles
3  12899     Jim Varney
4  12900  Wallace Shawn

In [ ]:
castDF[castDF.duplicated()]

             id                name
76           34  Mykelti Williamson
83          352     Dennis Haysbert
267        6280       Powers Boothe
269         382         Bob Hoskins
271       19839        David Paymer
...         ...                 ...
562467    37822        Peter Dobson
562469   544742    Iwan Mosschuchin
562470  1090923   Nathalie Lissenko
562471  1136422        Pavel Pavlov
562473    29199         Vera Orlova

[356302 rows x 2 columns]

In [ ]:
castDF.shape

(562474, 2)

Remove Duplicates

In [ ]:
castDF.drop_duplicates(keep = 'first', inplace = True)

In [ ]:
castDF.shape

(206172, 2)

## Finding unique cast number for each movie

In [ ]:
# convert castDF into dictionary
castDict = dict(zip(castDF.name, castDF.id))

In [ ]:
castDict

{'Tom Hanks': 31,
 'Tim Allen': 12898,
 'Don Rickles': 7167,
 'Jim Varney': 12899,
 'Wallace Shawn': 12900,
 'John Ratzenberger': 7907,
 'Annie Potts': 8873,
 'John Morris': 1482679,
 'Erik von Detten': 12901,
 'Laurie Metcalf': 12133,
 'R. Lee Ermey': 8655,
 'Sarah Freeman': 12903,
 'Penn Jillette': 37221,
 'Robin Williams': 2157,
 'Jonathan Hyde': 8537,
 'Kirsten Dunst': 205,
 'Bradley Pierce': 145151,
 'Bonnie Hunt': 5149,
 'Bebe Neuwirth': 10739,
 'David Alan Grier': 58563,
 'Patricia Clarkson': 1276,
 'Adam Hann-Byrd': 46530,
 'Laura Bell Bundy': 56523,
 'James Handy': 51551,
 'Gillian Barber': 56522,
 'Brandon Obray': 1000304,
 'Cyrus Thiedeke': 188949,
 'Gary Joseph Thorup': 1076551,
 'Leonard Zola': 1480246,
 'Lloyd Berry': 25024,
 'Malcolm Stewart': 27110,
 'Annabel Kershaw': 53715,
 'Darryl Henriques': 1379424,
 'Robyn Driscoll': 1235504,
 'Peter Bryant': 25389,
 'Sarah Gilson': 1483449,
 'Florica Vlad': 1483450,
 'June Lion': 1483451,
 'Brenda Lockmuller': 1483452,
 'Walter Matthau': 6837,
 'Jack Lemmon': 3151,
 'Ann-Margret': 13567,
 'Sophia Loren': 16757,
 'Daryl Hannah': 589,
 'Burgess Meredith': 16523,
 'Kevin Pollak': 7166,
 'Whitney Houston': 8851,
 'Angela Bassett': 9780,
 'Loretta Devine': 18284,
 'Lela Rochon': 51359,
 'Gregory Hines': 66804,
 'Dennis Haysbert': 352,
 'Michael Beach': 87118,
 'Mykelti Williamson': 34,
 'Lamont Johnson': 1214133,
 'Wesley Snipes': 10814,
 'Steve Martin': 556798,
 'Diane Keaton': 3092,
 'Martin Short': 519,
 'Kimberly Williams-Paisley': 70696,
 'George Newbern': 59222,
 'Kieran Culkin': 18793,
 'BD Wong': 14592,
 'Peter Michael Goetz': 20906,
 'Kate McGregor-Stewart': 54348,
 'Jane Adams': 233325,
 'Eugene Levy': 26510,
 'Lori Alan': 24358,
 'Al Pacino': 1158,
 'Robert De Niro': 380,
 'Val Kilmer': 5576,
 'Jon Voight': 10127,
 'Tom Sizemore': 3197,
 'Diane Venora': 6200,
 'Amy Brenneman': 15851,
 'Ashley Judd': 15852,
 'Natalie Portman': 524,
 'Ted Levine': 15854,
 'Tom Noonan': 119232,
 'Tone Loc': 31004,
 'Hank Azaria': 5587,
 'Wes Studi': 15853,
 'Danny Trejo': 11160,
 'Henry Rollins': 9290,
 'William Fichtner': 886,
 'Kevin Gage': 34839,
 'Susan Traylor': 4158,
 'Jerry Trimble': 86602,
 'Ricky Harris': 158452,
 'Jeremy Piven': 12799,
 'Xander Berkeley': 3982,
 'Begonya Plaza': 181343,
 'Rick Avery': 81687,
 'Hazelle Goodman': 91756,
 'Ray Buktenica': 160970,
 'Max Daniels': 175600,
 'Vince Deadrick Jr.': 12879,
 'Steven Ford': 9258,
 'Farrah Forke': 167501,
 'Patricia Healy': 95145,
 'Paul Herman': 58535,
 'Cindy Katz': 161939,
 'Brian Libby': 6580,
 'Dan Martin': 95796,
 'Mario Roberts': 166543,
 'Thomas Rosales, Jr.': 43010,
 'Yvonne Zima': 37252,
 'Mick Gould': 1457709,
 'Bud Cort': 4971,
 'Viviane Vives': 941147,
 'Kim Staunton': 17358,
 'Martin Ferrero': 4790,
 'Brad Baldridge': 1090464,
 'Andrew Camuccio': 1090465,
 'Kenny Endoso': 1576419,
 'Kimberly Flynn': 106714,
 'Niki Harris': 116153,
 'Bill McIntosh': 237923,
 'Rick Marzan': 4047,
 'Terry Miller': 1647138,
 "Daniel O'Haco": 1576553,
 'Kai Soremekun': 218094,
 'Peter Blackwell': 1491009,
 'Trevor Coppola': 1137847,
 'Mary Kircher': 1504112,
 'Darin Mangan': 1504568,
 'Robert Miranda': 20625,
 'Manny Perry': 1502517,
 'Iva Franks Singer': 114625,
 'Tim Werner': 1576562,
 'Philip Ettington': 1584544,
 'Harrison Ford': 148815,
 'Julia Ormond': 15887,
 'Greg Kinnear': 17141,
 'Angie Dickinson': 4301,
 'Nancy Marchand': 12957,
 'John Wood': 1372108,
 'Richard Crenna': 16554,
 'Lauren Holly': 34485,
 'Dana Ivey': 13314,
 'Fanny Ardant': 20234,
 'Patrick Bruel': 73827,
 'Paul Giamatti': 13242,
 'Miriam ColÃ³n': 1163,
 'Elizabeth Franz': 138242,
 'ValÃ©rie Lemercier': 62531,
 'Becky Ann Baker': 59206,
 'John C. Vennema': 163775,
 'Margo Martindale': 452,
 'J. Smith-Cameron': 52475,
 'Christine Luneau-Lipton': 1853632,
 'Michael Dees': 1853633,
 'Denis Holmes': 153226,
 'Jo-Jo Lowe': 1853634,
 'Ira Wheeler': 28029,
 'Philippa Cooper': 1853638,
 'Ayako Kawahara': 97364,
 'FranÃ§ois Genty': 1317065,
 'Guillaume Gallienne': 6554,
 'InÃ©s Sastre': 37918,
 'Phina Oruche': 1217813,
 'Andrea Behalikova': 1853644,
 'Jennifer Herrera': 1115935,
 'Kristina Kumlin': 1853645,
 'Eva Linderholm': 1853646,
 'Carmen Chaplin': 76093,
 'Micheline Van de Velde': 1853647,
 'Joanna Rhodes': 1853651,
 'Alan Boone': 1853653,
 'Patrick Forster-Delmas': 1460738,
 'Kentaro Matsuo': 1853654,
 'Peter McKernan': 1632066,
 'Ed Connelly': 1853655,
 'Ronald L. Schwary': 4184,
 'Alvin Lum': 1853657,
 'Siching Song': 1853658,
 'Phil Nee': 1357100,
 'Randy Becker': 157428,
 'Susan Browning': 1211979,
 'Anthony Mondal': 1853660,
 'Peter Parks': 1853661,
 'Woodrow Asai': 1548251,
 'Eric Bruno Borgman': 1221663,
 'Michael Cline': 1811338,
 'Christopher Del Gaudio': 1853663,
 'Philippe Hartmann': 1099770,
 'Jerry Quinn': 1853664,
 'Dori Rosenthal': 1853665,
 'Jonathan Taylor Thomas': 53283,
 'Brad Renfro': 51214,
 'Rachael Leigh Cook': 38581,
 'Michael McShane': 8316,
 'Amy Wright': 87007,
 'Eric Schweig': 57448,
 'Tamara Mello': 102313,
 'Jean-Claude Van Damme': 15111,
 'Powers Boothe': 6280,
 'Dorian Harewood': 8656,
 'Raymond J. Barry': 10361,
 'Ross Malinger': 12928,
 'Whittni Wright': 79088,
 'Pierce Brosnan': 517,
 'Sean Bean': 48,
 'Izabella Scorupco': 10695,
 'Famke Janssen': 10696,
 'Joe Don Baker': 10671,
 'Judi Dench': 5309,
 'Gottfried John': 3757,
 'Robbie Coltrane': 1923,
 'Alan Cumming': 10697,
 'TchÃ©ky Karyo': 10698,
 'Desmond Llewelyn': 9906,
 'Samantha Bond': 10699,
 'Michael Kitchen': 10648,
 'Serena Gordon': 10700,
 'Simon Kunz': 10701,
 'Billy J. Mitchell': 55911,
 'Constantine Gregory': 27425,
 'Minnie Driver': 6613,
 'Michelle Arthur': 29054,
 'Ravil Isyanov': 41742,
 'Michael Douglas': 3392,
 'Annette Bening': 516,
 'Michael J. Fox': 521,
 'Martin Sheen': 8349,
 'Anna Deavere Smith': 63279,
 'Shawna Waldron': 112080,
 'Samantha Mathis': 20767,
 'David Paymer': 19839,
 'Richard Dreyfuss': 3037,
 'Nina Siemaszko': 42133,
 'Wendie Malick': 61980,
 'Beau Billingslea': 78494,
 'Gail Strickland': 42003,
 'Joshua Malina': 131642,
 'Clement von Franckenstein': 43115,
 'John Mahoney': 4251,
 'John Mahon': 43978,
 'Gabriel Jarret': 92808,
 'Leslie Nielsen': 7633,
 'Mel Brooks': 14639,
 'Amy Yasbeck': 1219,
 'Peter MacNicol': 12688,
 'Lysette Anthony': 12812,
 'Harvey Korman': 13640,
 'Steven Weber': 6106,
 'Mark Blankfield': 29709,
 'Megan Cavanagh': 53570,
 'Gregg Binkley': 170185,
 'Anne Bancroft': 1609647,
 'Kevin Bacon': 4724,
 'Bob Hoskins': 382,
 'Bridget Fonda': 2233,
 'Jim Cummings': 1416383,
 'Phil Collins': 110001,
 'Juliette Brewer': 67386,
 'Jack Angel': 19545,
 'Danny Mann': 52699,
 'Robbie Rist': 77157,
 'Sandra Dickinson': 176254,
 'Frank Welker': 15831,
 'Miriam Margolyes': 6199,
 'Lola Bates-Campbell': 1592266,
 'Anthony Hopkins': 4173,
 'Joan Allen': 11148,
 'Ed Harris': 228,
 'E.G. Marshall': 5249,
 'David Hyde Pierce': 11076,
 'Paul Sorvino': 7004,
 'Mary Steenburgen': 2453,
 'J.T. Walsh': 22131,
 'James Woods': 4512,
 'Brian Bedford': 70843,
 'Kevin Dunn': 14721,
 'Fyvush Finkel': 56687,
 'Annabeth Gish': 49425,
 'Larry Hagman': 6840,
 'Madeline Kahn': 29803,
 'Dan Hedaya': 6486,
 'Bridgette Wilson': 20751,
 'Tom Bower': 19453,
 'Tony Goldwyn': 3417,
 'Edward Herrmann': 52995,
 'Tony Lo Bianco': 15183,
 'Saul Rubinek': 3712,
 'Robert Beltran': 50880,
 'John Cunningham': 167561,
 'John Diehl': 4942,
 'John C. McGinley': 11885,
 'Michael Chiklis': 19654,
 'Ric Young': 11397,
 'Boris Sichkin': 230280,
 'Sam Waterston': 8975,
 'Marley Shelton': 6407,
 'Geena Davis': 16935,
 'Matthew Modine': 8654,
 'Frank Langella': 8924,
 'Maury Chaykin': 7868,
 'Patrick Malahide': 8979,
 'Stan Shaw': 16936,
 'Rex Linn': 16937,
 'Paul Dillon': 13925,
 'Christopher Masterson': 35769,
 'Jimmie F. Skaggs': 133771,
 'Harris Yulin': 1166,
 'Carl Chase': 127166,
 'Peter Geeves': 1220350,
 'Angus Wright': 1252814,
 'Ken Bones': 91662,
 'Mary Peach': 31294,
 'Thomas Lockyer': 17202,
 'Roger Booth': 1649736,
 'George Murcell': 90625,
 'Simon Atherton': 1117347,
 'Dickey Beer': 1495190,
 'Christopher Halliday': 1466675,
 'Chris Johnston': 1420324,
 'Richard Leaf': 16792,
 'Tam White': 2480,
 'Rupert Vansittart': 2479,
 'Nick Bartlett': 19704,
 'David Bailie': 1715,
 'Kwame Kwei-Armah': 1221761,
 'Ramon Tikaram': 178622,
 'Christopher Adamson': 64102,
 'Sharon Stone': 4430,
 'Joe Pesci': 4517,
 'Alan King': 7169,
 'Pasquale Cajano': 7165,
 'L.Q. Jones': 8262,
 'Dick Smothers': 166789,
 'Frank Vincent': 7164,
 'Oscar Goodman': 7424,
 'Richard Riehle': 18262,
 'Catherine Scorsese': 11483,
 'Vinny Vella': 7168,
 'Nobu Matsuhisa': 7425,
 'Erika von Tagen': 7423,
 'Nick Mazzola': 7444,
 'David Rose': 107020,
 'John Bloom': 1242423,
 'Joseph Rigano': 13605,
 'Philip Suriano': 14332,
 'Melissa Prophet': 105623,
 'Bill Allison': 1574239,
 'Joe La Due': 96901,
 'Joseph P. Reidy': 7531,
 'Craig Vincent': 1738942,
 'Carl Ciarfalio': 42824,
 'Gene Ruffini': 39599,
 'Dominick Grieco': 1204013,
 'Clem Caserta': 17921,
 'Daniel P. Conte': 120303,
 'Joey DePinto': 583419,
 'Jack Orend': 572362,
 'Jed Mills': 152769,
 'Claudia Haro': 553774,
 'Ffolliott Le Coque': 1892328,
 'John Manca': 1888770,
 'Ronald Maccone': 233121,
 'Joseph Bono': 1888773,
 'Frank Adonis': 4692,
 'Anthony Russell': 58474,
 'Stuart Nisbet': 1183497,
 'Alfred Nittoli': 1644894,
 'Kate Winslet': 204,
 'Emma Thompson': 7056,
 'Hugh Grant': 3291,
 'Tom Wilkinson': 207,
 'Alan Rickman': 4566,
 'Imogen Stubbs': 20769,
 'Greg Wise': 16700,
 'Hugh Laurie': 41419,
 'Imelda Staunton': 11356,
 'Robert Hardy': 23076,
 'Oliver Ford Davies': 31923,
 'James Fleet': 10726,
 'Harriet Walter': 17477,
 'Gemma Jones': 9138,
 'Emilie FranÃ§ois': 937907,
 'Elizabeth Spriggs': 1220119,
 'Richard Lumsden': 141551,
 'Tim Roth': 3129,
 'Antonio Banderas': 3131,
 'Jennifer Beals': 3130,
 'Madonna': 3125,
 'Marisa Tomei': 3141,
 'Bruce Willis': 62,
 'Quentin Tarantino': 138,
 'Sammi Davis': 3122,
 'Amanda de Cadenet': 3123,
 'Valeria Golino': 3124,
 'Lili Taylor': 3127,
 'Lawrence Bender': 2545,
 'Ione Skye': 3126,
 'Alicia Witt': 3128,
 'David Proval': 2555,
 'Lana McKissack': 3132,
 'Tamlyn Tomita': 3134,
 'Kathy Griffin': 3138,
 'Paul Calderon': 3137,
 'Salma Hayek': 3136,
 'Patricia Vonne': 3133,
 'Danny Verduzco': 3135,
 'Kimberly Blair': 37336,
 'Marc Lawrence': 18323,
 'Jim Carrey': 206,
 'Ian McNeice': 3547,
 'Simon Callow': 4001,
 'Maynard Eziashi': 57096,
 'Bob Gunton': 4029,
 'Sophie Okonedo': 2598,
 'Tommy Davidson': 88059,
 'Adewale Akinnuoye-Agbaje': 31164,
 'Danny D. Daniels': 1080060,
 'Sam Motoana Phillips': 1080061,
 'Damon Standifer': 172354,
 'Andrew Steel': 158324,
 'Bruce Spence': 27752,
 'Tom Grunke': 171303,
 "Arsenio 'Sonny' Trinidad": 1080062,
 'Woody Harrelson': 57755,
 'Jennifer Lopez': 16866,
 'Robert Blake': 1532825,
 'Chris Cooper': 2955,
 'Joe Grifasi': 4887,
 'Scott Sowers': 32287,
 'Skipp Sudduth': 33658,
 'Aida Turturro': 106791,
 'Vincent Pastore': 47774,
 'Enrico Colantoni': 15029,
 'Bill Nunn': 5502,
 'Katie Gill': 203801,
 'Jeremy Roberts': 15372,
 'Joe Bacino': 1811956,
 'John Travolta': 8891,
 'Gene Hackman': 193,
 'Rene Russo': 14343,
 'Danny DeVito': 518,
 'Dennis Farina': 1117,
 'Delroy Lindo': 18792,
 'James Gandolfini': 4691,
 'Jon Gries': 9629,
 'Renee Props': 53600,
 'Miguel Sandoval': 30488,
 'Jacob Vargas': 16429,
 'Bobby Slayton': 53601,
 'Linda Hart': 1107497,
 'Jeffrey J. Stephen': 141582,
 'Sigourney Weaver': 10205,
 'Holly Hunter': 18686,
 'Will Patton': 883,
 'William McNamara': 18687,
 'Harry Connick Jr.': 18688,
 'J.E. Freeman': 5169,
 'Dermot Mulroney': 20212,
 'John Rothman': 60205,
 "Shannon O'Hurley": 154691,
 'Bob Greene': 95838,
 'Tony Haney': 215904,
 'Danny Kovacs': 1074167,
 'Tahmus Rounds': 167781,
 'Scott Devenney': 1074168,
 'David Michael Silverman': 1074169,
 'Sylvester Stallone': 16483,
 'Julianne Moore': 1231,
 'Anatoli Davydov': 58556,
 'Muse Watson': 17348,
 'Steve Kahan': 14328,
 'Kelly Rowan': 47757,
 'Reed Diamond': 31508,
 'Kai Wulff': 42146,
 'Kerry Skalsky': 58557,
 'James Douglas Haskins': 58558,
 'Stephen Liska': 58559,
 'John Harms': 58560,
 'Edward J. Rosen': 58561,
 'Christina Orchid': 58562,
 'Choco Orta': 1611202,
 'GermÃ¡n Legarreta': 543847,
 'Sean Patrick Flanery': 54789,
 'Lance Henriksen': 2714,
 'Jeff Goldblum': 4785,
 'Brandon Smith': 427978,
 'Nicolas Cage': 2963,
 'Elisabeth Shue': 1951,
 'Julian Sands': 6104,
 'Richard Lewis': 6105,
 'Kim Adams': 6107,
 'Emily Procter': 6108,
 'Stuart Reynolds ': 6109,
 'Graham Beckel': 6110,
 'Mariska Hargitay': 6240,
 'Shawnee Smith': 2138,
 'David Kriegel': 52418,
 'Laurence Fishburne': 2975,
 'IrÃ¨ne Jacob': 1350,
 'Kenneth Branagh': 11181,
 'Nathaniel Parker': 27631,
 'Indra OvÃ©': 232174,
 'Michael Maloney': 17483,
 'Anna Patrick': 1227643,
 'Nicholas Farrell': 32357,
 'Michael Sheen': 3968,
 'Christina Ricci': 6886,
 "Rosie O'Donnell": 12929,
 'Thora Birch': 2155,
 'Melanie Griffith': 29369,
 'Gaby Hoffmann': 12930,
 'Demi Moore': 3416,
 'Ashleigh Aston Moore': 114471,
 'Rita Wilson': 12931,
 'Walter Sparrow': 141521,
 'Devon Sawa': 50398,
 'Cloris Leachman': 9599,
 'Janeane Garofalo': 21197,
 'Lolita Davidovich': 12139,
 'Brendan Fraser': 18269,
 'Amanda Root': 30318,
 'CiarÃ¡n Hinds': 8785,
 'Susan Fleetwood': 87415,
 'Fiona Shaw': 10981,
 'John Woodvine': 14465,
 'Phoebe Nicholls': 3930,
 'Samuel West': 54447,
 'Sophie Thompson': 32990,
 'Judy Cornwell': 45455,
 'Simon Russell Beale': 57461,
 'Felicity Dean': 42645,
 'Roger Hammond': 27660,
 'Victoria Hamilton': 55645,
 'Corin Redgrave': 13328,
 'Emma Roberts': 34847,
 'Robert Glenister': 25665,
 'Richard McCabe': 7025,
 'Helen Schlesinger': 1229181,
 'Jane Wood': 1246598,
 'David Collings': 1227492,
 'Darlene Johnson': 217100,
 'Cinnamon Faye': 1840472,
 'Isaac Maxwell-Hunt': 1840473,
 'Roger Llewellyn': 1073272,
 'Sally George': 1241523,
 'Lonnie James': 1840474,
 'Ron Perlman': 2372,
 'Dominique Pinon': 2413,
 'Judith Vittet': 13842,
 'Daniel Emilfork': 13843,
 'Jean-Claude Dreyfus': 13687,
 'GeneviÃ¨ve Brunet': 13845,
 'Odile Mallet': 13846,
 'Mireille MossÃ©': 4394,
 'Serge Merlin': 2410,
 'Rufus': 2407,
 'Ticky Holgado': 13689,
 'Cris Huerta': 100861,
 'Jean-Louis Trintignant': 1352,
 'Joseph Lucien': 1653016,
 'Mapi GalÃ¡n': 103119,
 'Briac BarthÃ©lÃ©my': 1653017,
 'Pierre-Quentin Faesch': 1653018,
 'Alexis Pivot': 131998,
 'FranÃ§ois Hadji-Lazaro': 77904,
 'Dominique Bettenfeld': 28462,
 'Lotfi Yahya Jedidi': 77905,
 'Thierry Gibault': 240388,
 'Marc Caro': 13680,
 'Ham-Chau Luong': 992717,
 'Frankie Pain': 17618,
 'Enrique Villanueva': 1323011,
 'Dominique Chevalier': 97062,
 'Lorella Cravotta': 2409,
 'Ã‰ric Houzelot': 580580,
 'Philippe Beautier': 1176105,
 'Marc Amyot': 1336073,
 'Jean-Philippe Labadie': 566292,
 'RaphaÃ¨le Bouchard': 1048762,
 'Elisabeth Etienne': 1330767,
 'Rachel Boulenger': 1529774,
 'Michel Motu': 1242620,
 'Nane Germon': 9745,
 'Gong Li': 643,
 'Li Bao-Tian': 146097,
 'Wang Xiaoxiao': 150151,
 'Li Xuejian': 143358,
 'Chun Sung': 150152,
 'Fu Biao': 150153,
 'Michelle Pfeiffer': 1160,
 'George Dzundza': 10477,
 'Courtney B. Vance': 24047,
 'Robin Bartlett': 11902,
 'John Neville': 12642,
 'Beatrice Winde': 168638,
 'Lorraine Toussaint': 81726,
 'Renoly Santiago': 28863,
 'Wade Dominguez': 975133,
 'Bruklin Harris': 188642,
 'Mercello Thedford': 1074671,
 'Roberto Alvarez': 3621,
 'Richard Grant': 1653635,
 'Marisela Gonzales': 1074672,
 'Toni Nichelle Buzhardt': 1074673,
 'Madeleine Stowe': 289,
 'Brad Pitt': 287,
 'Christopher Plummer': 290,
 'David Morse': 52,
 'Jon Seda': 288,
 'Frank Gorshin': 291,
 'Joseph Melito': 975569,
 'Aaron Michael Lacey': 1273540,
 'Christopher Meloni': 22227,
 'Joey Perillo': 1318900,
 'LisaGay Hamilton': 534231,
 'Matt Ross': 11154,
 'Annie Golden': 66094,
 'Michael Chance': 1077231,
 'Vernon Campbell': 1571784,
 'H. Michael Walls': 1571785,
 'Bob Adrian': 1328063,
 'Simon Jones': 37891,
 'Carol Florence': 1077235,
 'Bill Raymond': 1732211,
 'Ernest Abuba': 59112,
 'Irma St. Paule': 155573,
 'Rozwill Young': 1571787,
 'Nell Johnson': 1571788,
 'Frederick Strother': 292,
 'Charles Techman': 127069,
 'Rick Warner': 163795,
 "Anthony 'Chip' Brienza": 1387844,
 'Bruce Kirkpatrick': 163905,
 'Wilfred Williams': 1571786,
 'Joilet Harris': 1607131,
 'Drucie McDaniel': 32800,
 'John Blaisse': 1607135,
 'Louis Lippa': 1607137,
 'Stan Kang': 1607142,
 'Pat Dias': 1607143,
 'Felix Pire': 1542805,
 'Karl Warren': 1607146,
 'Joseph McKenna': 141458,
 'Stephen Bridgewater': 81692,
 'Ray Huffman': 1607153,
 'Charley Scalies': 1218075,
 "Robert O'Neill": 1236452,
 'Paul Meshejian': 1607160,
 'Kevin Thigpen': 171294,
 "Harry O'Toole": 1039871,
 'Jann Ellis': 1611167,
 'Michael Ryan Segal': 131007,
 'Korchenko': 1607168,
 'Chuck Jeffreys': 933507,
 'Barry Price': 1611166,
 'John Panzarella': 60569,
 'Janet Zappala': 1611170,
 'Lisa Talerico': 568367,
 'Tiffany Baldwin': 1607174,
 'C.J. Byrnes': 7528,
 'Tom Detrik': 1298410,
 'Joe Gerety': 1611142,
 'Renee Spei': 1611143,
 'Bonnie Loev': 1611164,
 'Raymond Mamrak': 1106629,
 'Sal Mazzotta': 127620,
 'Allelon Ruggiero': 2696,
 'Thang': 1611197,
 'Craig Sheffer': 4138,
 'Elizabeth McGovern': 4513,
 'Tom Hulce': 3999,
 'Ken Pogue': 58406,
 'Ron SauvÃ©': 554094,
 'Freddy Andreiuci': 156330,
 'Christine Cavanaugh': 58136,
 'Hugo Weaving': 1331,
 'Miriam Flynn': 35109,
 'James Cromwell': 2505,
 'Russi Taylor': 6035,
 'Evelyn Krape': 1080206,
 'Michael Edward-Stevens': 1080207,
 'Charles Bartlett': 1229258,
 'Paul Livingston': 61351,
 'Roscoe Lee Browne': 24368,
 'Magda Szubanski': 45586,
 'Zoe Burton': 1080208,
 'Paul Goddard': 9380,
 'Wade Hayward': 1080209,
 'Brittany Byrnes': 210276,
 'Mary Acres': 75934,
 'Jonathan Pryce': 378,
 'Steven Waddington': 27764,
 'Rufus Sewell': 17328,
 'Penelope Wilton': 1249,
 'Janet McTeer': 47627,
 'Jeremy Northam': 18325,
 'Alex Kingston': 83701,
 'Richard Clifford': 186389,
 'David Ryall': 27822,
 'Stephen Boxer': 47943,
 'Susan Sarandon': 4038,
 'Sean Penn': 2228,
 'Robert Prosky': 10360,
 'Celia Weston': 1989,
 'Lois Smith': 2207,
 'Scott Wilson': 6914,
 'Roberta Maxwell': 10362,
 'Jack Black': 70851,
 'Ray Aranha': 10366,
 'Peter Sarsgaard': 133,
 'Barton Heyman': 79732,
 'Steve Boles': 1183429,
 'Nesbitt Blaisdell': 21152,
 'Larry Pine': 19511,
 'Kevin Cooney': 25711,
 'Clancy Brown': 6574,
 'Michael Cullen': 1232566,
 'Missy Yager': 51384,
 'Jenny Krochmal': 1237883,
 'Jon Abrahams': 17866,
 'Arthur Bridgers': 1223451,
 'Steve Carlisle': 95940,
 'Eva Amurri Martino': 56757,
 'Jack Henry Robbins': 1366946,
 'Dennis Neal': 93679,
 'Molly Bryant': 62570,
 'Adele Robbins': 1591178,
 'Pete Burris': 1371000,
 'Joan Glover': 1407052,
 'Lenore Banks': 20765,
 'Cortez Nance Jr.': 75611,
 'Adam Nelson': 4732,
 'Jeremy Knaster': 108147,
 'Marcus Lyle Brown': 16460,
 'Anthony Michael Frederick': 1411679,
 'Thomas McGowan': 1191341,
 'Codie Scott': 1463362,
 'Helen Prejean': 10298,
 'Peter Reznick': 1467084,
 'John McDonough': 1467085,
 'Avi Hoffman': 1467086,
 'Matt Malloy': 19208,
 'Abby Lewis': 1218074,
 'Kirstie Alley': 1796,
 'Steve Guttenberg': 26472,
 'Ashley Olsen': 67848,
 'Mary-Kate Olsen': 67849,
 'Jane Sibbett': 92255,
 'Philip Bosco': 6541,
 'Michelle Grisom': 1331570,
 'Desmond Robertson': 1329538,
 'Tiny Mills': 1331571,
 'Shanelle Henry': 1331572,
 'MichÃ¨le Lonsdale Smith': 1331573,
 'Sean Orr': 1331574,
 'Elizabeth Walsh': 1331575,
 'Alicia Silverstone': 5588,
 'Stacey Dash': 58150,
 'Brittany Murphy': 328,
 'Paul Rudd': 22226,
 'Donald Faison': 49002,
 'Elisa Donovan': 58151,
 'Breckin Meyer': 33654,
 'Jeremy Sisto': 23958,
 'Twink Caplan': 66160,
 'Justin Walker': 30881,
 'Julie Brown': 1380003,
 'Nicole Bilderback': 17775,
 'James Earl Jones': 15152,
 'Charles S. Dutton': 17764,
 'Jack Robinson': 123831,
 'Tsholofelo Wechoemang': 123833,
 'Ramalao Makhene': 123834,
 'Richard Harris': 194,
 'Dolly Rathebe': 89307,
 'Jennifer Steyn': 111179,
 'Ian Roberts': 1224391,
 'David Clatworthy': 1073473,
 'Ian McKellen': 1327,
 'Jim Broadbent': 388,
 'Kristin Scott Thomas': 5470,

In [ ]:
def get_cast_number(row):
  if len(row) == 0:
    return 0
  else:
    array = np.vectorize(castDict.get)(row)
    return sum(array)

In [ ]:
df1['castNum'] = df1['cast'].apply(lambda x: get_cast_number(x))

In [ ]:
df1.head()

                                                cast  ...   castNum
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...  ...   1629167
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...  ...  12868921
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  ...     64590
3  [Whitney Houston, Angela Bassett, Loretta Devi...  ...   1467529
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  ...   1083159

[5 rows x 13 columns]

## Find Genre Number for Each Movie

In [ ]:
def convert_genres(row):
  sum = 0
  for i in row:
    for j in i:
      sum+=ord(j)
  return sum

In [ ]:
df1['genreNum'] = df1['genres'].apply(lambda x: convert_genres(x))

In [ ]:
df1.head()

                                                cast     id  ...   castNum genreNum
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    862  ...   1629167     2147
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   8844  ...  12868921     2278
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  15602  ...     64590     1318
3  [Whitney Houston, Angela Bassett, Loretta Devi...  31357  ...   1467529     1803
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  11862  ...   1083159      609

[5 rows x 14 columns]

## Convert Title to Number

In [ ]:
df1[df1['title'].apply(lambda x: isinstance(x, float))]

                                                    cast  ...  genreNum
19729  [Rob Lowe, Kenneth Cranham, Deborah Moore, Han...  ...      1929
29515  [Megumi Hayashibara, Hiroki Touchi, Kazuya Nak...  ...      2374
35598  [Alexander Mendeluk, Kate Nauta, Benjamin East...  ...      3402
35598  [Alexander Mendeluk, Kate Nauta, Benjamin East...  ...      3402

[4 rows x 14 columns]

Need to remove these columns since they have NaN values

In [ ]:
df1 = df1.drop([19729, 29515, 35598, 35598])

In [ ]:
def convert_titles(row):
  sum = 1;
  for i in row:
    sum+=ord(i)
  
  return(sum)

In [ ]:
# def convert_titles2(row):
#   return int.from_bytes(row.encode(), 'little')

In [ ]:
df1['titleNum'] = df1['title'].apply(lambda x: convert_titles(x))

In [ ]:
df1.head()

                                                cast     id  ... genreNum titleNum
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    862  ...     2147      894
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   8844  ...     2278      719
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  15602  ...     1318     1483
3  [Whitney Houston, Angela Bassett, Loretta Devi...  31357  ...     1803     1614
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  11862  ...      609     2336

[5 rows x 15 columns]

In [ ]:
# copy
df_final = df1.copy()

In [ ]:
# df1 = df_final

## Chris - Clean & Transform the keywords column

#### Convert the array to string

In [ ]:
df1['keywords'] = df1['keywords'].apply(', '.join)
df1.head()

                                                cast     id  ... genreNum titleNum
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    862  ...     2147      894
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   8844  ...     2278      719
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  15602  ...     1318     1483
3  [Whitney Houston, Angela Bassett, Loretta Devi...  31357  ...     1803     1614
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  11862  ...      609     2336

[5 rows x 15 columns]

#### Convert to lowercast

In [ ]:
df1['keywords'] = df1['keywords'].str.lower()

#### Remove punctuations

In [ ]:
df1['keywords'] = df1['keywords'].str.replace('[^\w\s]','')

###### Remove links

In [ ]:
df1['keywords'] = df1['keywords'].str.replace('http\S+|www.\S+', '', case=False)

###### Remove html tags

In [ ]:
def rmtags(keyword):
  rmtag = re.compile('<.*?>')
  keywordtext = re.sub(rmtag, '', keyword)
  return keywordtext

df1['keywords'] = df1['keywords'].apply(lambda keyword: rmtags(keyword))

##### Remove additional whitespace

In [ ]:
df1['keywords'] = df1['keywords'].replace(' +', ' ', regex=True)
print(df1['keywords'][0])
print('\n----------\n')
print(df1['keywords'][1])

jealousy toy boy friendship friends rivalry boy next door new toy toy comes to life

----------

board game disappearance based on childrens book new home recluse giant insect

### Encode the keywords with TFIDFVectorizer

In [ ]:
tfidf_vectorizer = TfidfVectorizer(stop_words = 'english', ngram_range=(1,1))
tfidf = tfidf_vectorizer.fit_transform(df1['keywords'])

In [ ]:
keywordNum = np.sum(tfidf.A, axis=1)

In [ ]:
df1['keywords'] = keywordNum

In [ ]:
df1.head()

                                                cast     id  ...  genreNum titleNum
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    862  ...      2147      894
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   8844  ...      2278      719
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  15602  ...      1318     1483
3  [Whitney Houston, Angela Bassett, Loretta Devi...  31357  ...      1803     1614
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  11862  ...       609     2336

[5 rows x 15 columns]

In [ ]:
title_df = df1['title']

In [ ]:
del df1['cast']
del df1['genres']
del df1['title']

In [ ]:
df1.head()

      id  keywords  adult  ...   castNum genreNum titleNum
0    862  2.732882  False  ...   1629167     2147      894
1   8844  3.245939  False  ...  12868921     2278      719
2  15602  2.430012  False  ...     64590     1318     1483
3  31357  2.852449  False  ...   1467529     1803     1614
4  11862  3.213356  False  ...   1083159      609     2336

[5 rows x 12 columns]

### Convert remaining columns to numeric

In [ ]:
# change popularity to float
df1['popularity'] = df1['popularity'].apply(pd.to_numeric)

In [ ]:
# convert adult true or false to 1 or 0
adult_encoder = LabelEncoder()
df1["adult"] = adult_encoder.fit_transform(df1["adult"])

In [ ]:
# change date to date-time
df1['release_date'] = pd.to_datetime(df1['release_date'])

In [ ]:
categorical = df1.dtypes[df1.dtypes == "object"].index
categorical

Index(['original_language'], dtype='object')

In [ ]:
for c in categorical:
    df1[c] = df1[c].astype('category')
    df1[c] = df1[c].cat.codes

In [ ]:
df1.dtypes

id                            int64
keywords                    float64
adult                         int64
original_language              int8
popularity                  float64
release_date         datetime64[ns]
revenue                     float64
vote_average                float64
vote_count                  float64
castNum                       int64
genreNum                      int64
titleNum                      int64
dtype: object

In [ ]:
df2 = df1[['id', 'keywords', 'adult', 'original_language', 'popularity', 'revenue', 'vote_average', 'vote_count', 'castNum', 'genreNum', 'titleNum']]
df2['title'] = title_df.str.lower()

In [ ]:
df2.head(10)

      id  keywords  adult  ...  genreNum  titleNum                        title
0    862  2.732882      0  ...      2147       894                    toy story
1   8844  3.245939      0  ...      2278       719                      jumanji
2  15602  2.430012      0  ...      1318      1483             grumpier old men
3  31357  2.852449      0  ...      1803      1614            waiting to exhale
4  11862  3.213356      0  ...       609      2336  father of the bride part ii
5    949  5.105958      0  ...      2425       387                         heat
6  11860  2.714166      0  ...      1318       705                      sabrina
7  45325  0.000000      0  ...      2643      1071                 tom and huck
8   9091  2.218612      0  ...      2386      1130                 sudden death
9    710  4.929183      0  ...      2386       893                    goldeneye

[10 rows x 12 columns]

In [ ]:
df2.shape

(46624, 12)

In [ ]:
df2 = df2.drop_duplicates(['id'])
df2.head(10)

      id  keywords  adult  ...  genreNum  titleNum                        title
0    862  2.732882      0  ...      2147       894                    toy story
1   8844  3.245939      0  ...      2278       719                      jumanji
2  15602  2.430012      0  ...      1318      1483             grumpier old men
3  31357  2.852449      0  ...      1803      1614            waiting to exhale
4  11862  3.213356      0  ...       609      2336  father of the bride part ii
5    949  5.105958      0  ...      2425       387                         heat
6  11860  2.714166      0  ...      1318       705                      sabrina
7  45325  0.000000      0  ...      2643      1071                 tom and huck
8   9091  2.218612      0  ...      2386      1130                 sudden death
9    710  4.929183      0  ...      2386       893                    goldeneye

[10 rows x 12 columns]

In [ ]:
df2.shape

(45429, 12)

### Convert the Cleaned and Tranformed Dataframe to csv for use in the recommender system & Streamlit

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
df2.to_csv('/content/drive/My Drive/Big Data Project/data/KaggleMovies.csv', index=False)